@white-color: #ffffff;
@progress-bar-color: #fa475c;
@primary-color: #e40c2b;
@open-color: #52c41a;
@my-turn-color: #b7eb8f;
@break-color: #fcc133;
@closed-color: #fa475c;
@info-color: #40a9ff;
@tablet: 767px;

p {
  margin-bottom: 0.33em !important;
}

.footer-container {
  margin: 0 0 20px;
}

.content-container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  &.footer-container {
    width: 800px;
  }
}

#landing-content {
  margin-bottom: 50px;

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: @white-color;
    border-radius: 10px;
  }

  .col-title-p {
    margin: 0;
    font-size: 15px;
  }

  .how-to-img {
    display: block;
    min-height: 150px;
    margin-bottom: 20px;
    position: relative;
  }

  .reg-login-img {
    background: url(/static/img/login.svg) no-repeat scroll center center transparent;
    &:after {
      content: '1.';
      position: absolute;
      top: -8px;
      left: 0;
      font-size: 23px;
      font-weight: bold;
    }
  }

  .link-to-img {
    background: url(/static/img/link_to.svg) no-repeat scroll center center transparent;
    &:after {
      content: '2.';
      position: absolute;
      top: -8px;
      left: 0;
      font-size: 23px;
      font-weight: bold;
    }
  }

  .booking-to-img {
    background: url(/static/img/to_queue.svg) no-repeat scroll center center transparent;
    &:after {
      content: '3.';
      position: absolute;
      top: -8px;
      left: 0;
      font-size: 23px;
      font-weight: bold;
    }
  }

  .content-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;

    &.card-container {
      &.first-card-container {
        margin-top: 20px;
        margin-bottom: 60px;
        background-color: @white-color;
        padding: 25px 30px 0 30px;
        border-radius: 20px;
      }
    }
  }

  .title-header {
    min-height: 400px;
    padding: 40px 0 50px 30px;
    position: relative;
    background: url(/static/img/bg_img.svg) no-repeat scroll 90% bottom transparent;
  }

  .title-text {
    h1 {
      font-size: 49px;
      margin-bottom: 15px;
      line-height: 1;
      margin-left: -2px;
    }

    h2 {
      font-size: 23px;
      margin-bottom: 45px;
      color: #666;
      line-height: 1;

      &.appeal {
        margin-top: 40px;
        margin-bottom: 0;
        padding-left: 20px;
        font-size: 23px;
        color: @primary-color;
      }
    }

    h4 {
      padding-left: 20px;
    }
  }

  .block-title-text {
    text-align: center;
    line-height: 1;
    margin-bottom: 7px;
    font-size: 33px;
  }

  .block-subtitle-text {
    text-align: center;
    line-height: 1;
    font-size: 19px;
    color: #666;
    margin-bottom: 50px;
  }
}

.preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: @white-color;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease-out 0.4s;
  -webkit-transition: opacity 0.3s ease-out 0.4s;
}

.customReactQuill {
  .ql-editor {
    min-height: 150px;
  }
}

.loadingSpin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;

  .spinItem {
    margin: 25% auto 0;
    display: block;
  }
}

.notificationWithIcon {
  z-index: 999;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: @progress-bar-color;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px @progress-bar-color, 0 0 5px @progress-bar-color;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: @progress-bar-color;
  border-left-color: @progress-bar-color;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  padding: 0 20px !important;
  // background-color: #ffffff !important;
}

.login-form {
  margin-bottom: 24px !important;
}

.button-large-with {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.ant-form-item {
  margin-bottom: 15px !important;
}

.ant-form-item-label {
  padding: 0 !important;
}

.logo {
  display: block;
  margin-top: 7px;
  max-height: 50px;
  cursor: pointer;
}

.header-logo-block {
  height: 64px;
  display: inline-block;
  vertical-align: top;
  width: 80px;
}

.header-nav-block {
  height: 64px;
  line-height: 63px;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 80px);
  text-align: right;
}

.nav-block-menu {
  display: inline-block;
}

.content {
  padding: 15px 25px;
}

.page-title {
  margin: 7px 0 20px !important;
}

.form-alert {
  margin: 0 0 15px !important;
}

.queue-title-block {
  margin-bottom: 0;
}

.queue-title-l2 {
  margin: 0 !important;
}

.queue-status-title {
  display: inline-block;
  margin-left: 6px;
  font-weight: bold;
  font-size: 24px;
  vertical-align: calc(-2px);
}

.status-open {
  color: @open-color;
}

.status-break {
  color: @break-color;
}

.status-closed {
  color: @closed-color;
}

.break-entry-row {
  background-color: @break-color !important;
  &:hover {
    > td {
      background-color: @break-color !important;
    }
  }
}

.my-entry-row {
  background-color: @my-turn-color !important;
  &:hover {
    > td {
      background-color: @my-turn-color !important;
    }
  }
}

.m0 {
  margin: 0 !important;
}

.mr2 {
  margin-right: 10px !important;
}

.mb3 {
  margin-bottom: 20px !important;
}

.mb4 {
  margin-bottom: 30px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt3 {
  margin-top: 20px !important;
}

.bigger-number {
  font-weight: 500;
  font-size: 18px;
}

.d-inline {
  display: inline-block;
}

.modal-icon {
  font-size: 36px;
  margin: 0 25px 0 0;
  vertical-align: top !important;
}

.queue-turn-title {
  font-weight: bold;
  font-size: 50px;
  padding-left: 20px;
}

.card-description {
  margin-left: 10px;
  padding: 3px 0 3px 15px;
  border-left: 2px solid #f0f0f0;
}

.success-next-button {
  color: @open-color !important;
  height: auto !important;
  margin-top: 10px;

  .custom-icon-action {
    display: inline-block;
    vertical-align: middle;
    font-size: 48px;
  }

  .custom-icon-titles {
    display: inline-block;
    text-align: left;
    vertical-align: calc(-10px);
  }
}

.custom-divider-action {
  margin: 10px 0 !important;
}

.not-came-button {
  color: @break-color !important;
}

.success-button {
  color: @info-color !important;
}

.color-yes {
  color: @open-color !important;
}

.color-not {
  color: @break-color !important;
}

.ico-lg {
  font-size: 18px !important;
}

.my-turn .ant-card-body {
  background-color: @my-turn-color;
}

.ant-card-head .card-title-simple {
  font-weight: 300;
  font-size: 14px;
  text-align: right;
}

.drawer-form-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  background: #fff;
  text-align: right;
}

.queue-table-card {
  .ant-card-body {
    padding: 0 !important;
  }
}

.update-entry-status-btn {
  margin-left: 30px;
}

.cancel-entry-btn {
  margin-left: 15px;
}

.empty-queue-table-text {
  padding: 7px 20px 20px;
}

.queue-table-divider-text {
  margin-top: 10px !important;
}

.queue-my-entry-text {
  padding: 7px 20px 20px;
}

.text-center {
  text-align: center;
}

.host-link {
  color: rgba(0, 0, 0, 0.5) !important;
}

@media (max-width: 900px) {
  .content-container {
    width: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
    &.footer-container {
      width: calc(100% - 100px);
    }
  }
}

@media (max-width: @tablet) {
  .ant-card-head .card-title-simple {
    text-align: left;
  }

  .queue-form .ant-form-item .ant-form-item-label > label {
    height: auto;
  }

  .queue-form .ant-form-item .ant-form-item-label {
    margin-bottom: 5px;
  }

  .drawer-form-footer {
    .button-large-with {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }

  .queue-table-card {
    .ant-card-body {
      overflow-x: auto;
    }
  }

  .content {
    padding: 15px 10px;
  }

  .update-entry-status-btn {
    margin: 15px 0;
    display: block !important;
  }

  .cancel-entry-btn {
    margin-left: 0;
    display: block !important;
  }

  .queue-table-breaker {
    text-align: left !important;
  }

  h1.ant-typography {
    font-size: 28px !important;
  }

  h3.ant-typography {
    font-size: 20px !important;
  }

  .footer-container {
    .footer-link {
      display: block;
      margin-bottom: 15px;
    }
  }

  #landing-content {
    margin-bottom: 0;

    .flex-row {
      flex-direction: column;
    }

    .flex-col {
      padding: 10px;
      border-radius: 5px;
      width: calc(100% - 10px);
      margin-bottom: 20px;
    }

    .col-title-p {
      margin: 0;
      font-size: 15px;
    }

    .how-to-img {
      display: block;
      min-height: 150px;
      margin-bottom: 20px;
      position: relative;
    }

    .content-container {
      width: calc(100% - 10px);
      margin-left: auto;
      margin-right: auto;

      &.card-container {
        &.first-card-container {
          margin-top: 20px;
          margin-bottom: 30px;
          padding: 0;
          border-radius: 10px;
        }
      }
    }

    .title-header {
      min-height: auto;
      padding: 20px 20px 30px;
      position: relative;
      background: transparent;
    }

    .title-text {
      h1 {
        font-size: 27px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 19px;
        margin-bottom: 30px;

        &.appeal {
          margin-top: 25px;
          padding-left: 0;
          font-size: 19px;
        }
      }

      h4 {
        padding-left: 0;
      }
    }

    .block-title-text {
      font-size: 25px;
    }

    .block-subtitle-text {
      font-size: 17px;
      margin-bottom: 30px;
    }
  }
}
